/* Global and general styling */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Verdana", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
::selection {
  background-color: salmon;
  color: black;
}

body > header *::selection,
body > footer *::selection {
  background-color: black;
  color: salmon;
}
/* Use case specific styling */
.header {
  padding: 16px;
  text-align: center;
  background-color: salmon;
  color: black;
}

.header__title {
  font-family: cursive;
  text-shadow: 2px 2px white;
}
.navigation > .navigation__item + .navigation__item {
  margin-left: 16px;
}
.navigation__item {
  color: black;
  padding: 4px;
}

.navigation__item:hover {
  color: black;
  text-decoration-color: gold;
}

.navigation__item:active, .navigation__item:focus {
  background-color: gold;
  outline: transparent;
}
.main {
  padding: 16px;
}
.main > * + * {
  margin-top: 80px;
}
.featured-recipe__title--hot::after {
  content: " 🔥";
}

.featured-recipe__title--healthy::after {
  content: " 🥕";
}

.featured-recipe__title--beef::after {
  content: " 🐄";
}
.contact-form__input {
  margin-bottom: 16px;
  border-width: 2px;
}

.contact-form__input:invalid {
  border-color: salmon;
}

.contact-form__textarea {
  resize: none;
}

.contact-form:invalid .contact-form__submit {
  opacity: 0.4;
  pointer-events: none;
}
.footer {
  padding: 16px;
  text-align: center;
  background-color: salmon;
  color: black;
}
